@using OnlineTicariOtomasyon.Models.Siniflar
@model List<Cariler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>MÜŞTERİ LİSTESİ</h1>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>AD SOYAD</th>
        <th>MAİL</th>
        <th>İLÇE</th>
        <th>SATIŞ GEÇMİŞİ</th>
        <th>DÜZENLE</th>
        <th>SİL</th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CariID</td>
            <td>@item.Cari_ad &nbsp; @item.Cari_soyad</td>
            <td>@item.Cari_mail</td>
            <td>@item.Cari_sehir</td>
            <td><a href="/Cari/cariSatis/@item.CariID" class="btn btn-success">SATIŞ GEÇMİŞİ</a></td>
            <td><a href="/Cari/cariGetir/@item.CariID" class="btn btn-warning">Düzenle</a></td>
            <td><a href="/Cari/cariSil/@item.CariID" class="btn btn-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/cari/cariEkle/" class="btn btn-primary">Yeni Ekle</a>


